<div id="nav-sentinel"></div>
@if (!(isMobile && getCurrentRoute() === "Welcome")) {
	<nav [class.stuck]="isStuck">
		@if (!isStuck) {
			@if (getCurrentRoute() !== "Welcome") {
				<a href=""><p class="bordered-button" id="home-button" [class.stuck]="isStuck"><img id="home-icon" src="assets/icons/chevron-left.png" alt="Home Icon"></p></a>
			}
		}
	    <h3 id="headline" [class.stuck]="isStuck">{{ getCurrentRoute() }}</h3>
		@if (isStuck) {
			<button (click)="scrollToTop()" id="scroll-top-button"><img id="chevron-icon" src="assets/icons/chevron-up.png" alt="Chevron Up Icon"></button>
		}
	</nav>
}