@import '../../../../styles.sass'
  
nav
    width: 100%
    height: 50px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    position: sticky
    top: 0
    z-index: 999

    &.stuck
        height: 80px
        background: linear-gradient(
        to bottom,
      #0c0c0c,
      rgba(0, 0, 0, 0) 
    	  )
        transition: 0.2s

#headline
    font-family: regular-font
    font-size: 35px
    display: inline

    &.stuck
        color: white
        margin-left: 25px

#nav-button
    float: right
    margin-top: 2px
    font-family: regular-font
    font-size: 20px
    color: black
    border: 1px solid #a0a0a0
    border-radius: $border-radius-button
    padding: 4px 9px

    &:hover, 
    &:focus
        box-shadow: 2px 2px 3px 1px #eeeeee
        transition: 0.2s

#home-button
    float: right
    margin-top: 2px
    font-family: regular-font
    font-size: 20px
    color: black
    border: 1px solid #a0a0a0
    border-radius: $border-radius-button
    padding: 4px 9px
    display: flex
    align-items: center
    gap: 4px

    &:hover, 
    &:focus
        box-shadow: 2px 2px 3px 1px #eeeeee
        transition: 0.2s
        
#home-icon
    width: 20px
    height: 20px
        
#scroll-top-button
    float: right
    margin-right: 20px
    font-size: 30px
    border-radius: $border-radius-button
    cursor: pointer
    background: transparent
    border: none

#chevron-icon
    width: 50px
    height: 50px

@media screen and (max-device-width: 800px)
    nav
        margin-bottom: 10px

    #headline
        font-size: 27px
        margin-left: 13px

    #nav-button
        margin-right: 13px

    #home-button
        margin-right: 13px

    #chevron-icon
        width: 40px
        height: 40px