@import '../../../styles.sass'

.column-wrapper
	margin-top: 30px
	margin-bottom: 30px

.manus-column
	width: 24.4%

.kuapo-column
	width: 16.0%

.gymwt-column
	width: 24.5%

.project-headline 
	font-family: regular-font
	font-size: 20px
	align-self: flex-start
	margin-bottom: 10px

.project-description 
	font-family: thin-font
	font-size: 20px

.yt-embed-wrapper 
	position: relative
	overflow: hidden
	padding-top: 56.25%
	border-radius: $border-radius
	margin-bottom: 8px

.yt-embed-iframe 
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	border: 0

a
	text-decoration: underline

@media screen and (max-device-width: 800px)	
	.project-headline 
		padding: 0 10px 0 10px

	.project-description 
		font-size: 18px
		padding: 0 10px 0 10px

	.manus-column,
	.kuapo-column,
	.gymwt-column
		width: 100%
		
	.yt-embed-wrapper 
		border-radius: 0px
		margin-bottom: 1vh