<main>	
	<h3 class="project-headline">MANUS - Music video for and with Klawuta</h3>
	<p class="project-description">The video was shot at <a href="https://www.freiraum-stp.at/" target="_blank">Freiraum St. Pölten</a>.
		While Matthias sang and played the drums at the same time, I took care of the visual work by camera and drone.
		<br>
		Have a listen and check out <a href="http://www.klawuta.com/" target="_blank">Matthias aka Klawuta</a>!
	</p>

	<div class="column-wrapper">
		<div class="column manus-column">
			<div class="yt-embed-wrapper">
				<iframe class="yt-embed-iframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/5tu4Fk-xhrk?si=e-cAfJiGhblRzJi8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<protectedimage [name]="'manus/manus1'"></protectedimage>
		</div>
		<div class="column manus-column">
			<protectedimage [name]="'manus/manus7'"></protectedimage>
			<protectedimage [name]="'manus/manus6'"></protectedimage>
		</div>
		<div class="column manus-column">
			<protectedimage [name]="'manus/manus8'"></protectedimage>
			<protectedimage [name]="'manus/manus5'"></protectedimage>
			<protectedimage [name]="'manus/manus3'"></protectedimage>
		</div>
		<div class="column manus-column">
			<protectedimage [name]="'manus/manus4'"></protectedimage>
			<protectedimage [name]="'manus/manus2'"></protectedimage>
		</div>
	</div>

	<h3 class="project-headline">Stift Zwettl Floristenmeisterklasse 2023/24</h3>
	<p class="project-description">In September 2024, I had the honor to photographically accompany the florists masterclass of Stift Zwettl in the final days of their exams. 
		For three full days, I documented the fascinating pieces of work in between the stunning architecture of the Stift Zwettl monastery and church while they prepared the area for the public exhibition.
	</p>

	<div class="column-wrapper">
		<div class="column kuapo-column">
			<protectedimage [name]="'floristen/floristen1'"></protectedimage>
			<protectedimage [name]="'floristen/floristen7'"></protectedimage>
			<protectedimage [name]="'floristen/floristen14'"></protectedimage>
		</div>
		<div class="column kuapo-column">
			<protectedimage [name]="'floristen/floristen2'"></protectedimage>
			<protectedimage [name]="'floristen/floristen8'"></protectedimage>
			<protectedimage [name]="'floristen/floristen13'"></protectedimage>
		</div>
		<div class="column kuapo-column">
			<protectedimage [name]="'floristen/floristen3'"></protectedimage>
			<protectedimage [name]="'floristen/floristen9'"></protectedimage>
		</div>
		<div class="column kuapo-column">
			<protectedimage [name]="'floristen/floristen4'"></protectedimage>
			<protectedimage [name]="'floristen/floristen10'"></protectedimage>
		</div>
		<div class="column kuapo-column">
			<protectedimage [name]="'floristen/floristen5'"></protectedimage>
			<protectedimage [name]="'floristen/floristen11'"></protectedimage>
			<protectedimage [name]="'floristen/floristen15'"></protectedimage>
		</div>
		<div class="column kuapo-column">
			<protectedimage [name]="'floristen/floristen6'"></protectedimage>
			<protectedimage [name]="'floristen/floristen12'"></protectedimage>
		</div>
	</div>

	<h3 class="project-headline"><a href="https://www.kuenringer-apotheke.at/" target="_blank">Kuenringer Apotheke Zwettl</a></h3>
	<p class="project-description">The goal of this cooperation was not only to provide decorative imagery for the inside of the recently opened, newly built pharmacy but also to put their high quality products into the spotlight.
		Product photography, portrait and architecture shootings - this project had it all.
	</p>

	<div class="column-wrapper">
		<div class="column kuapo-column">
			<protectedimage [name]="'kuenringerapo/kuenringer5'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer20'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer21'"></protectedimage>
		</div>
		<div class="column kuapo-column">
			<protectedimage [name]="'kuenringerapo/kuenringer3'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer12'"></protectedimage>
		</div>
		<div class="column kuapo-column">
			<protectedimage [name]="'kuenringerapo/kuenringer17'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer1'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer18'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer26'"></protectedimage>
		</div>
		<div class="column kuapo-column">		
			<protectedimage [name]="'kuenringerapo/kuenringer16'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer15'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer14'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer25'"></protectedimage>
		</div>
		<div class="column kuapo-column">
			<protectedimage [name]="'kuenringerapo/kuenringer19'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer9'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer13'"></protectedimage>
		</div>
		<div class="column kuapo-column">
			<protectedimage [name]="'kuenringerapo/kuenringer7'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer11'"></protectedimage>
		</div>
	</div>

	<h3 class="project-headline"><a href="https://www.gymwt.at/neu/index.asp" target="_blank">Gymnasium Waidhofen a. d. Thaya</a>: Drone piloting and video cutting</h3>
	<p class="project-description">Another few jobs I got to work on, mainly as a drone pilot but also as a video cutter.</p>

	<div class="column-wrapper">
		<div class="column gymwt-column">
			<div class="yt-embed-wrapper">
				<iframe class="yt-embed-iframe" src="https://www.youtube-nocookie.com/embed/gVfpwVecZV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column gymwt-column">
			<div class="yt-embed-wrapper">
				<iframe class="yt-embed-iframe" src="https://www.youtube-nocookie.com/embed/EYuHDxknjsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column gymwt-column">
			<div class="yt-embed-wrapper">
				<iframe class="yt-embed-iframe" src="https://www.youtube-nocookie.com/embed/Ime5VIVk04w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column gymwt-column">
			<div class="yt-embed-wrapper">
				<iframe class="yt-embed-iframe" src="https://www.youtube-nocookie.com/embed/yATJNSIjAh0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<h3 class="project-headline">Other work & additional info</h3>
	<p class="project-description">Besides these spotlight projects, I already produced music videos in cooperation with Lausch Music, created info material for schools and designed invitations for educational events.
		My imagery has appeared in several magazines, mainly published by Waldviertel Tourismus.
		<br>
		Head over to instagram to get deeper insights and behind-the-scenes content.
		<br>
		<br>
		A special thank you goes to <a href="https://www.delight-grafik.at/" target="_blank">Matthias Fröhlich/Delight Mediadesign/Klawuta</a>, who introduced me into the professional side of a long practiced passion of mine!
	</p>
</main>