<nav>
    <h3 id="headline">Welcome</h3>
    <a href="/aboutme"><p id="navbutton">About me</p></a>
</nav>
<main>	
    <div id="divmulticolumns">
        <div class="column">
            <a href="/photos" style="text-decoration: none; color: white;">
                <div class="div_photos rect">
                    <h3 class="title">Photos</h3>
                </div>
            </a> 
        </div>
        <div class="column">
            <a href="/videos" style="text-decoration: none; color: white;">
                <div class="div_videos rect">
                    <h3 class="title">Videos</h3>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="/projects" style="text-decoration: none; color: white;">
                <div class="div_projects rect">
                    <h3 class="title">Projects</h3>
                </div>
            </a>
        </div>
    </div>
</main>