<nav>
    <h3 id="headline">Welcome</h3>
    <a href="/aboutme" style="color: black;"><p id="navbutton">About me</p></a>
</nav>
<main>	
    <div id="divmulticolumns">
        <div class="column">
            <a href="/photos" style="text-decoration: none; color: white;">
                <div class="div_photos rect">
                    <h3 class="title" id="title_photos">Photos <i class="fas fa-chevron-right arrow"></i></h3>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="/videos" style="text-decoration: none; color: white;">
                <div class="div_videos rect">
                    <h3 class="title" id="title_videos">Videos <i class="fas fa-chevron-right arrow"></i></h3>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="/projects" style="text-decoration: none; color: white;">
                <div class="div_jobs rect">
                    <h3 class="title" id="title_jobs">Projects <i class="fas fa-chevron-right arrow"></i></h3>
                </div>
            </a>
        </div>
    </div>
</main>