<main>	
	<protectedimage [name]="'imgwide'"></protectedimage>
	<protectedimage [name]="'imgwide2'"></protectedimage>
	<div id="divmulticolumns">
		<div class="column">
			<protectedimage [name]="'img1'"></protectedimage>
			<protectedimage [name]="'img6'"></protectedimage>
			<protectedimage [name]="'img5'"></protectedimage>
			<protectedimage [name]="'img10'"></protectedimage>
			<protectedimage [name]="'img18'"></protectedimage>
			<protectedimage [name]="'img15'"></protectedimage>
			<protectedimage [name]="'img9'"></protectedimage>
		</div>
		<div class="column">
			<protectedimage [name]="'img2'"></protectedimage>
			<protectedimage [name]="'img13'"></protectedimage>
			<protectedimage [name]="'img11'"></protectedimage>
			<protectedimage [name]="'img17'"></protectedimage>
			<protectedimage [name]="'img7'"></protectedimage>
			<protectedimage [name]="'img19'"></protectedimage>
		</div>
		<div class="column">
			<protectedimage [name]="'img3'"></protectedimage>
			<protectedimage [name]="'img4'"></protectedimage>
			<protectedimage [name]="'img14'"></protectedimage>
			<protectedimage [name]="'img8'"></protectedimage>
			<protectedimage [name]="'img20'"></protectedimage>
			<protectedimage [name]="'img16'"></protectedimage>
		</div>
	</div>
</main>

<div id="modal">
	<div id="flex" style="width: 100%; height: 100%;">
		<span #closeModalButton id="close">&times;</span>
		<img id="modalimg">
	</div>		
</div>
