<main>	
	<img id="imgwide" src="../assets/imgs/imgwide.jpg" alt="imgwide" onClick="reply_click(this.id)">
	<div id="divmulticolumns">
		<div class="column">
			<img id="img13" src="../assets/imgs/img13.jpg" alt="img13" onClick="reply_click(this.id)">
			<img id="img2" src="../assets/imgs/img2.jpg" alt="img2" onClick="reply_click(this.id)">
			<img id="img20" src="../assets/imgs/img20.jpg" alt="img20" onClick="reply_click(this.id)">
			<img id="img9" src="../assets/imgs/img9.jpg" alt="img9" onClick="reply_click(this.id)">
			<img id="img5" src="../assets/imgs/img5.jpg" alt="img5" onClick="reply_click(this.id)">
			<img id="img10" src="../assets/imgs/img10.jpg" alt="img10" onClick="reply_click(this.id)">
		</div>
		<div class="column">
			<img id="img11" src="../assets/imgs/img11.jpg" alt="img11" onClick="reply_click(this.id)">
			<img id="img18" src="../assets/imgs/img18.jpg" alt="img18" onClick="reply_click(this.id)">
			<img id="img3" src="../assets/imgs/img3.jpg" alt="img3" onClick="reply_click(this.id)">
			<img id="img16" src="../assets/imgs/img16.jpg" alt="img16" onClick="reply_click(this.id)">
			<img id="img19" src="../assets/imgs/img19.jpg" alt="img19" onClick="reply_click(this.id)">
			<img id="img18" src="../assets/imgs/img18.jpg" alt="img18" onClick="reply_click(this.id)">
			<img id="img4" src="../assets/imgs/img4.jpg" alt="img4" onClick="reply_click(this.id)">
		</div>
		<div class="column">
			<img id="img17" src="../assets/imgs/img17.jpg" alt="img17" onClick="reply_click(this.id)">
			<img id="img12" src="../assets/imgs/img12.jpg" alt="img12" onClick="reply_click(this.id)">
			<img id="img6" src="../assets/imgs/img6.jpg" alt="img6" onClick="reply_click(this.id)">
			<img id="img14" src="../assets/imgs/img14.jpg" alt="img14" onClick="reply_click(this.id)">
			<img id="img8" src="../assets/imgs/img8.jpg" alt="img8" onClick="reply_click(this.id)">
			<img id="img15" src="../assets/imgs/img15.jpg" alt="img15" onClick="reply_click(this.id)">
			<img id="img1" src="../assets/imgs/img1.jpg" alt="img1" onClick="reply_click(this.id)">
		</div>
	</div>
</main>

<div id="modal">
	<div id="flex" style="width: 100%; height: 100%;">
		<span id="close">&times;</span>
		<img id="modalimg">
	</div>		
</div>
