<main>	
	<div class="column-wrapper">
		<div class="column">
			<div class="yt-embed-wrapper">
				<iframe class="yt-embed-iframe" src="https://www.youtube-nocookie.com/embed/FU2kJMfSf3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column">
			<div class="yt-embed-wrapper">
				<iframe class="yt-embed-iframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Bkk3nj3dIMo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column">
			<div class="yt-embed-wrapper">
				<iframe class="yt-embed-iframe" src="https://www.youtube-nocookie.com/embed/_c3wPNfhFuo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</main>