<nav>
    <h3 id="headline">Projects</h3>
    <a href="" style="color: black;"><p id="navbutton">Home</p></a>
</nav>
<main>	
	<h3 class="headlineproject"><a href="https://www.kuenringer-apotheke.at/" target="_blank">Kuenringer Apotheke Zwettl</a></h3>
	<p class="describetext">You can spot my photos being used in the interior from the outside already. Cooperating with the pharmacys management, I picked the best-fitting images for the various product categories from my existing photo collection.<br>Additionally, I also produced portrait-, workflow- and product photos for them, as you can see below.</p>

	<div style="margin-top: 30px;" id="divmulticolumns">
		<div class="column kuapo">
			<img src="../assets/jobs/kuenringerapo/kuenringer2.jpg" alt="kuenringer2">
			<img src="../assets/jobs/kuenringerapo/kuenringer5.jpg" alt="kuenringer5">
			<img src="../assets/jobs/kuenringerapo/kuenringer6.jpg" alt="kuenringer6">
			<img src="../assets/jobs/kuenringerapo/kuenringer24.jpg" alt="kuenringer24">
			<img src="../assets/jobs/kuenringerapo/kuenringer20.jpg" alt="kuenringer20">
		</div>
		<div class="column kuapo">
			<img src="../assets/jobs/kuenringerapo/kuenringer3.jpg" alt="kuenringer3">
			<img src="../assets/jobs/kuenringerapo/kuenringer12.jpg" alt="kuenringer12">
			<img src="../assets/jobs/kuenringerapo/kuenringer21.jpg" alt="kuenringer21">
			<img src="../assets/jobs/kuenringerapo/kuenringer18.jpg" alt="kuenringer18">
		</div>
		<div class="column kuapo">
			<img src="../assets/jobs/kuenringerapo/kuenringer17.jpg" alt="kuenringer17">
			<img src="../assets/jobs/kuenringerapo/kuenringer1.jpg" alt="kuenringer1">
			<img src="../assets/jobs/kuenringerapo/kuenringer10.jpg" alt="kuenringer10">
			<img src="../assets/jobs/kuenringerapo/kuenringer22.jpg" alt="kuenringer22">
		</div>
		<div class="column kuapo">
			<img src="../assets/jobs/kuenringerapo/kuenringer8.jpg" alt="kuenringer8">			
			<img src="../assets/jobs/kuenringerapo/kuenringer16.jpg" alt="kuenringer16">
			<img src="../assets/jobs/kuenringerapo/kuenringer23.jpg" alt="kuenringer23">
			<img src="../assets/jobs/kuenringerapo/kuenringer15.jpg" alt="kuenringer15">	
		</div>
		<div class="column kuapo">
			<img src="../assets/jobs/kuenringerapo/kuenringer19.jpg" alt="kuenringer19">
			<img src="../assets/jobs/kuenringerapo/kuenringer9.jpg" alt="kuenringer9">
			<img src="../assets/jobs/kuenringerapo/kuenringer13.jpg" alt="kuenringer13">
			<img src="../assets/jobs/kuenringerapo/kuenringer26.jpg" alt="kuenringer26">
			<img src="../assets/jobs/kuenringerapo/kuenringer27.jpg" alt="kuenringer27">
		</div>
		<div class="column kuapo">
			<img src="../assets/jobs/kuenringerapo/kuenringer7.jpg" alt="kuenringer7">
			<img src="../assets/jobs/kuenringerapo/kuenringer11.jpg" alt="kuenringer11">
			<img src="../assets/jobs/kuenringerapo/kuenringer14.jpg" alt="kuenringer14">
			<img src="../assets/jobs/kuenringerapo/kuenringer25.jpg" alt="kuenringer25">
			<img src="../assets/jobs/kuenringerapo/kuenringer28.jpg" alt="kuenringer28">						
		</div>
	</div>

	<h3 class="headlineproject"><a href="https://norderd.at/" target="_blank">Nørderd Vodka</a>: Social Media content creation</h3>
	<p class="describetext">I also had the honour to create Social Media content for Nørderd Vodka. This job was a great practice for my Photoshop skills, since it required me to apply advanced techniques and play around with various effects.</p>

	<div style="margin-top: 30px;" id="divmulticolumns">
		<div class="column norderd">
			<img src="../assets/jobs/norderd/norderd1.jpg" alt="norderd1">
			<img src="../assets/jobs/norderd/norderd9.jpg" alt="norderd9">
		</div>
		<div class="column norderd">
			<img src="../assets/jobs/norderd/norderd2.jpg" alt="norderd2">
			<img src="../assets/jobs/norderd/norderd10.jpg" alt="norderd10">
		</div>
		<div class="column norderd">
			<img src="../assets/jobs/norderd/norderd3.jpg" alt="norderd3">
			<img src="../assets/jobs/norderd/norderd11.jpg" alt="norderd11">
		</div>
		<div class="column norderd">
			<img src="../assets/jobs/norderd/norderd4.jpg" alt="norderd4">
			<img src="../assets/jobs/norderd/norderd12.jpg" alt="norderd12">
		</div>
		<div class="column norderd">
			<img src="../assets/jobs/norderd/norderd5.jpg" alt="norderd5">
			<img src="../assets/jobs/norderd/norderd13.jpg" alt="norderd13">
		</div>
		<div class="column norderd">
			<img src="../assets/jobs/norderd/norderd6.jpg" alt="norderd6">
			<img src="../assets/jobs/norderd/norderd8.jpg" alt="norderd8">
		</div>
		<div class="column norderd">
			<img src="../assets/jobs/norderd/norderd7.jpg" alt="norderd7">				
		</div>
	</div>

	<h3 class="headlineproject"><a href="https://www.gymwt.at/neu/index.asp" target="_blank">Gymnasium Waidhofen a. d. Thaya</a>: Drone piloting and video cutting</h3>
	<p class="describetext">Another few jobs I got to work on, mainly as a drone pilot but also as a video cutter. </p>

	<div style="margin-top: 30px;" id="divmulticolumns">
		<div class="column gymwt">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/gVfpwVecZV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column gymwt">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/EYuHDxknjsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column gymwt">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/Ime5VIVk04w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column gymwt">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/yATJNSIjAh0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<h3 class="headlineproject">Other work & additional info</h3>
	<p class="describetext">Besides these main jobs, I furthermore already have refined and converted flyers and created posters for events. All done with the Adobe Creative Suite.<br><br>On my Instagram Account in the story highlight "Work", you can find further insight into shooting days.<br><br>And of course, a special thank you goes to my uncle <a href="https://www.delight-grafik.at/" target="_blank">Matthias Ledwinka/Delight Mediadesign</a>, who introduced me into the professional side of a long practiced passion of mine!</p>
</main>