<main>	
	<h3 class="headlineproject">Stift Zwettl Floristenmeisterklasse 2023/24</h3>
	<p class="describetext">In September 2024, I had the honor to photographically accompany the florists masterclass of Stift Zwettl in the final days of their exams. For three full days, I documented the fascinating pieces of work in between the stunning architecture of the Stift Zwettl monastery and church while they prepared the area for the public exhibition.</p>

	<div id="divmulticolumns" class="projimgdiv">
		<div class="column kuapo">
			<protectedimage [name]="'floristen/floristen1'"></protectedimage>
			<protectedimage [name]="'floristen/floristen7'"></protectedimage>
			<protectedimage [name]="'floristen/floristen14'"></protectedimage>
		</div>
		<div class="column kuapo">
			<protectedimage [name]="'floristen/floristen2'"></protectedimage>
			<protectedimage [name]="'floristen/floristen8'"></protectedimage>
			<protectedimage [name]="'floristen/floristen13'"></protectedimage>
		</div>
		<div class="column kuapo">
			<protectedimage [name]="'floristen/floristen3'"></protectedimage>
			<protectedimage [name]="'floristen/floristen9'"></protectedimage>
		</div>
		<div class="column kuapo">
			<protectedimage [name]="'floristen/floristen4'"></protectedimage>
			<protectedimage [name]="'floristen/floristen10'"></protectedimage>
		</div>
		<div class="column kuapo">
			<protectedimage [name]="'floristen/floristen5'"></protectedimage>
			<protectedimage [name]="'floristen/floristen11'"></protectedimage>
			<protectedimage [name]="'floristen/floristen15'"></protectedimage>
		</div>
		<div class="column kuapo">
			<protectedimage [name]="'floristen/floristen6'"></protectedimage>
			<protectedimage [name]="'floristen/floristen12'"></protectedimage>
		</div>
	</div>

	<h3 class="headlineproject"><a href="https://www.kuenringer-apotheke.at/" target="_blank">Kuenringer Apotheke Zwettl</a></h3>
	<p class="describetext">The goal of this cooperation was not only to decorate the inside of the recently opened, newly built pharmacy but also to put their well known products into the spotlight. Product photography, portrait shootings and architecture camerawork - this project had it all.</p>

	<div id="divmulticolumns" class="projimgdiv">
		<div class="column kuapo">
			<protectedimage [name]="'kuenringerapo/kuenringer5'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer20'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer21'"></protectedimage>
		</div>
		<div class="column kuapo">
			<protectedimage [name]="'kuenringerapo/kuenringer3'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer12'"></protectedimage>
		</div>
		<div class="column kuapo">
			<protectedimage [name]="'kuenringerapo/kuenringer17'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer1'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer18'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer26'"></protectedimage>
		</div>
		<div class="column kuapo">		
			<protectedimage [name]="'kuenringerapo/kuenringer16'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer15'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer14'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer25'"></protectedimage>
		</div>
		<div class="column kuapo">
			<protectedimage [name]="'kuenringerapo/kuenringer19'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer9'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer13'"></protectedimage>
		</div>
		<div class="column kuapo">
			<protectedimage [name]="'kuenringerapo/kuenringer7'"></protectedimage>
			<protectedimage [name]="'kuenringerapo/kuenringer11'"></protectedimage>
		</div>
	</div>

	<h3 class="headlineproject"><a href="https://www.gymwt.at/neu/index.asp" target="_blank">Gymnasium Waidhofen a. d. Thaya</a>: Drone piloting and video cutting</h3>
	<p class="describetext">Another few jobs I got to work on, mainly as a drone pilot but also as a video cutter. </p>

	<div style="margin-top: 30px;" id="divmulticolumns" class="projimgdiv">
		<div class="column gymwt">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/gVfpwVecZV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column gymwt">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/EYuHDxknjsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column gymwt">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/Ime5VIVk04w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column gymwt">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/yATJNSIjAh0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<h3 class="headlineproject">Other work & additional info</h3>
	<p class="describetext">Besides these spotlight projects, I already produced music videos in cooperation with Lausch Music, created info material for schools and designed invitations for educational events.<br>Head over the instagram to get deeper insights - I regularly update the story highlight "Work" there.<br><br>And of course, a special thank you goes to <a href="https://www.delight-grafik.at/" target="_blank">Matthias Ledwinka/Delight Mediadesign</a>, who introduced me into the professional side of a long practiced passion of mine!</p>
</main>