#aboutme
	font-family: thin-font
	font-size: 20px

@media screen and (max-device-width: 800px)
	main
		width: 90%
		margin: auto
		margin-bottom: 20px

	#aboutme 
		font-size: 17px
		text-align: justify