<main>	
	<p id="aboutme">
		I'm Jonah - {{age}} years old and from Lower Austria. On this website I want to not only show you my latest and greatest pieces of work but also give an insight into my journey so far.
		<br><br>
		Photography has by far been my biggest hobby (also the most expensive one) since a long time. For me, it's the ideal fusion of technical and creative work.
		The process from an idea in my head over the actual capture through the editing sessions to finally putting the image onto the website you are currently looking at
		brings a deep satisfaction and calmness to me.
		<br><br>
		As I spend a lot of my time with software development in a professional environment, it is self-explanatory that I maintain this website exclusively on my own by hand-typing the code.
		Lots of thoughts and time have gone into striking a balance between form and function.
		<br><br>
		Contact me if you need someone who knows to put things into perspective - no matter the type of photography, I am always open for new projects and collaborations.
	</p>
</main>
