<div id="socialmedia">
    <h3 id="altplatformheadline">More stuff + contact options:</h3>
    <div id="links">
        <a href="https://www.instagram.com/jonahp.media/?hl=de" target="_blank" class="linkprofiles" style="color: black; text-decoration:none;">
            <div class="platform">
                <i class="fab fa-instagram icon"></i>
                <p class="text">Instagram</p>
            </div>
        </a>
        <a href="https://www.youtube.com/channel/UCc1Adu2zEKAwQ6-GRHb9miA/featured" target="_blank" class="linkprofiles" style="color: black; text-decoration:none;">
            <div class="platform">
                <i class="fab fa-youtube icon"></i>
                <p class="text">YouTube</p>
            </div>
        </a>
        <a href="https://unsplash.com/@jonah_jpg" target="_blank" class="linkprofiles" style="color: black; text-decoration:none;">
            <div class="platform">
                <i class="fas fa-camera icon"></i>
                <p class="text">Unsplash</p>
            </div>
        </a>
        <a href="mailto:jonah.photography@gmail.com" target="_blank" class="linkprofiles" style="color: black; text-decoration:none;">
            <div class="platform">
                <i class="fa-regular fa-envelope"></i>
                <p class="text">E-Mail</p>
            </div>
        </a>
    </div>
</div>