header
  width: 100%
  min-height: 220px
  display: flex
  justify-content: flex-start
  align-items: center

  .logo-link
    display: flex
    align-items: center
    text-decoration: none
    color: inherit

    #logo
      width: 120px
      height: auto
      margin-right: 1.5rem

    .logo-text
      display: flex
      flex-direction: column
      justify-content: center
      font-family: regular-font
      font-size: 3rem

      .logo-name
        font-weight: 700

      .logo-subtitle
        font-weight: 400

@media screen and (max-width: 800px)
  header
    width: 100%
    min-height: 100px
    align-items: flex-start

    .logo-link
      flex-wrap: wrap
      align-items: center
      margin: 1rem

      #logo
        width: 80px
        margin-right: 0.7rem

      .logo-text
        font-size: clamp(1rem, 1.4rem, 1.5rem)
