<main>	
	<p id="aboutme">
		I'm Jonah - {{age}} years old and from Austria.
		<br><br>
		Photography has by far been my biggest hobby since many years and I am still chasing every opportunity for a great picture.
		That's what I love about it: you can always try to see a well-known motive from a new perspective and thus create fascinating images, no matter how many photos you already shot of it.
		<br><br>
		Right now, the Canon EOS RP is my all-time companion. It's equipped with a F2.8 Tamron 24-70mm most of the time due to its versatility (one lens to rule them all). As alternatives, I have a Canon macro/light tele and a 35mm fixed Tamron lens.
		I also got the DJI Mavic Mini (which needs a replacement, considering how far the drone world has gone).
		Still, this tiny yet noteworthy drone already has served me well in several projects.
		<br><br>
		On this little website I want to show you my latest and greatest pieces of work. Contact me if you need someone who knows to put things into perspective!
	</p>
</main>
