<main>	
	<p id="aboutme">
		Hi, my name's Jonah! I'm {{age}} years old and from Austria.
		<br><br>
		Photography has by far been my biggest hobby since many years and I am still chasing every opportunity for a great picture.
		That's what I love about it: you can always try to see a well-known motive from a new perspective and thus create fascinating images, no matter how many photos you already shot of it.
		<br><br>

		Right now, the Canon EOS RP is my all-time companion. It's equipped with the Tamron SP 24-70mm F/2.8 Di VC USD G2 99% of the time because it's such a great allrounder but I've got the Tamron SP AF 35mm F/1.8 DI VC USD and the Canon EF 100mm 2.8L Macro IS USM for choice as well.
		I also got the DJI Mavic Mini to be able to see the world through a whole new perspective: the birds' eye.
		This tiny yet noteworthy drone already has served me well in fulfilling several projects.
		<br><br>
		Adobe LR Classic is the photo editor of choice.	In the beginnings of my photography-career, I used Luminar 4 but its performance issues drove me away.
		<br><br>
		On this little website I want to show you my latest and greatest pieces of work. Feel free to contact me!
	</p>
</main>
