#aboutme
	font-family: manrope-light
	font-size: 20px

/*MOBILE-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-device-width: 800px) /*-- phone --*/
	#aboutme 
		font-size: 17px
		text-align: justify