$border-radius-image: 0px
$border-radius-button: 5px
	
*
	margin:0
	padding:0

a 
	color: black
	
a, img, i, button
	-webkit-tap-highlight-color: transparent

@font-face
	font-family: thin-font
	src: url(assets/fonts/Manrope-Light.ttf)

@font-face
	font-family: regular-font
	src: url(assets/fonts/Manrope-Medium.ttf)

body
	width: 75%
	min-height: 100vh
	margin: auto

main
	width: 100%
	margin-top: 20px
	margin-bottom: 20px

.column-wrapper 
	width: 100%
	display: flex
	gap: 8px

.column 
	flex: 33.3333%

@media screen and (max-device-width: 800px)
	body 
		width: 100%
			
	main 
		width: 100%
		margin-top: 0px
		margin-bottom: 20px
	
	.column-wrapper 
		gap: 0
		flex-wrap: wrap

	.column 
		flex: 100% !important