<nav>
    <h3 id="headline">Videos</h3>
    <a href=""><p id="navbutton">Home</p></a>
</nav>
<main>	
	<div id="divmulticolumns">
		<div class="column">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/FU2kJMfSf3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column">
			<div class="resp-container">
				<iframe class="resp-iframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Bkk3nj3dIMo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="column">
			<div class="resp-container">
				<iframe class="resp-iframe" src="https://www.youtube-nocookie.com/embed/_c3wPNfhFuo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</main>